
.productstyle{
    width: 32rem;
    display: inline-block;
    align-content: center;
    margin: 25px;
}

.span{
	margin-right: 12px;
}

.table-w50 > tbody > tr > td {
  width: 50%;
  }
  
  #navbar-collapse-1{
  background: none;
  }
  
  @media (max-width: 786px) {
    #navbar-collapse-1 { background: rgb(32, 31, 37); }
}
